html {
  background-color: #87CEFF;
}

form {
  text-align: center;
  font-size: 22px;
}

button {
  margin: auto;
  display: block;
  font-size: 20px;
}

#label {
  text-align: center;
}

#inputbox {
  text-align: center;
}
